html{
    font-size: 16px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
}

.flex-child{
    min-height: 100px;
    background: gray;
    border: black 2px solid;
}

#hero-banner{
    background: url(../site_imgs/banner.jpg) no-repeat bottom center;
    opacity: 50%;
    background-size: cover;
    height: 200px;
}

h1{
    font-size: 2rem;
    text-align: center;

    /* padding-top: auto;
    padding-bottom: auto; */
}

.body-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
}

.body-content p {
    margin: 20px auto;
}


.thumbs {
    width: 200px;
    height: 120px;
    border: green solid 3px;
}

#thumbs-container{
    display: flex;
    justify-content: center;
}

.thumbs-g {
    width: auto;
    height: 120px;
    border: green solid 3px;
}


.thumbs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
}





/* ============== Footer Styles ==============*/




















/* ============== Media Queries ==============*/

/* rules will apply when screen size is 600px and up */
@media screen and (max-width: 600px){

}















